@page
@model IndexModel
@{
    ViewData["Title"] = "The Chuck";
}
  
<div class="text-center">
    @Model.DisplayText
    <p>If you see this you updated it!</p>
    <img src="chuck_img.jpg" alt="image of chuck!">
</div>
